<app-navbar [scrollX]="scrollingX" (showUserType)="userType($event)"></app-navbar>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" (scroll)="onScrollEvent($event)">
  <app-home [userType]="showUserType"></app-home>

  <app-features [userType]="showUserType"></app-features>

  <!-- <app-card-actions></app-card-actions>s -->

  <app-user-process></app-user-process>

  <!-- <app-we-do></app-we-do> -->

  <app-how-work></app-how-work>

  <app-plans></app-plans>

  <!-- <app-footer></app-footer> -->
</main>