 <!-- What We Do Section -->
 <div id="whatWeDoSection" class="container space-2 space-md-3">
  <div class="row justify-content-lg-between">
    <div class="col-lg-4 mb-7 mb-lg-0">
      <!-- Title -->
      <small class="text-secondary text-uppercase font-weight-medium mb-2">¿Qué hacemos?</small>
      <h3 class="font-weight-medium">Administramos tus propiedades</h3>
      <p>Una breve descripción de lo que hace NEAT</p>
      <!-- End Title -->
    </div>

    <div class="col-lg-7">
      <div class="row">
        <div class="col-sm-6 mb-3">
          <!-- Icon Blocks -->
          <figure id="icon26" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
            <img class="js-svg-injector" src="../../../assets/svg/icons/icon-26.svg" alt="SVG"
                 data-parent="#icon26">
          </figure>
          <h4 class="h5">Publicamos tu propiedad</h4>
          <p class="font-size-1">Breve descripción</p>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 mb-3">
          <!-- Icon Blocks -->
          <figure id="icon27" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
            <img class="js-svg-injector" src="../../../assets/svg/icons/icon-27.svg" alt="SVG"
                 data-parent="#icon27">
          </figure>
          <h4 class="h5">Investigamos a tu arrendatario</h4>
          <p class="font-size-1">Breve descripción.</p>
          <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <figure id="icon25" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
            <img class="js-svg-injector" src="../../../assets/svg/icons/icon-25.svg" alt="SVG"
                 data-parent="#icon25">
          </figure>
          <h4 class="h5">Digitalizamos el contrato de arriendo <span class="badge badge-success font-weight-medium badge-pill ml-1">beta</span></h4>
          <p class="font-size-1">Breve descripción</p>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6">
          <!-- Icon Blocks -->
          <figure id="icon28" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
            <img class="js-svg-injector" src="../../../assets/svg/icons/icon-28.svg" alt="SVG"
                 data-parent="#icon28">
          </figure>
          <h4 class="h5">Rendimos pagos</h4>
          <p class="font-size-1">Breve descripción</p>
          <!-- End Icon Blocks -->
        </div>
        
        <div class="col-sm-6">
          <!-- Icon Blocks -->
          <figure id="icon28" class=" ie-height-56 w-100 max-width-8 mb-3">
            <img class="js-svg-injector" src="../../../assets/svg/icons/icon-29.svg" alt="SVG"
                 data-parent="#icon28">
          </figure>
          <h4 class="h5">Mantenciones</h4>
          <p class="font-size-1">Breve descripción</p>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End What We Do Section -->

