<!-- Icon Blocks Section -->
<div class="space-2">
  <!-- Title -->
  <!-- <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
    <h2 class="h3 font-weight-semi-bold"></h2>
  </div> -->
  <!-- End Title -->
    
  <div class="row justify-content-md-between">
    <div class="col-sm-6 col-lg-4  mb-9 mb-lg-0">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon12" class="svg-preloader mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/030-online-shop-1.svg" alt="SVG"
                    data-parent="#icon12">
            </figure>
            <h4 class="h6">Ofrecemos distintos medios de pago</h4>
            <!-- <p>A must-have read for anyone buying or selling property.</p> -->
            <!-- <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Learn More
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
      </div>
      <!-- End Icon Block -->
    </div>

    <div class="col-sm-6 col-lg-4 mb-9 mb-lg-0">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon10" class="svg-preloader ie-height-72 max-width-10 mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/031-alarm.svg" alt="SVG"
                    data-parent="#icon10">
            </figure>
            <h3 class="h6">Enviamos notificaciones para recordar fechas de pago y avisar eventos importantes</h3>
            <!-- <p>Find out how much you could borrow.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Check Now
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
        
      </div>
      <!-- End Icon Block -->
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon11" class="svg-preloader ie-height-72 max-width-10 mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/018-officer.svg" alt="SVG"
                    data-parent="#icon11">
            </figure>
            <h3 class="h6">Inscribimos automáticamente a los morosos en DICOM</h3>
            <!-- <p>Calculate monthly mortgage payments.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Check Now
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
        
      </div>
      <!-- End Icon Block -->
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon11" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/038-scales.svg" alt="SVG"
                    data-parent="#icon11">
            </figure>
            <h3 class="h6">Cálculamos automáticamente los reajustes en el monto de arriendo</h3>
            <!-- <p>Calculate monthly mortgage payments.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Check Now
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
      </div>
      <!-- End Icon Block -->
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon11" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/037-task-list.svg" alt="SVG"
                    data-parent="#icon11">
            </figure>
            <h3 class="h6">Generamos un registro de pagos</h3>
            <!-- <p>Calculate monthly mortgage payments.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Check Now
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
      </div>
      <!-- End Icon Block -->
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Icon Block -->
      <div class="text-center px-lg-5 mb-4">
        <!-- <div class="card card-frame card-frame-highlighted">
          <div class="card-body"> -->
            <figure id="icon11" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img style="width: 90px; height: 100px;" class="js-svg-injector" src="../../assets/newRequirements/svg/032-incomes.svg" alt="SVG"
                    data-parent="#icon11">
            </figure>
            <h3 class="h6">Análisis estádistico de pagos</h3>
            <!-- <p>Calculate monthly mortgage payments.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
              Check Now
              <span class="fas fa-angle-right ml-2"></span>
            </a> -->
          <!-- </div>
        </div> -->
        
      </div>
      <!-- End Icon Block -->
    </div>
  </div>
</div>
<!-- End Icon Blocks Section -->