<div class="container mt-4 ">
  <!-- Title -->
  <div class="w-md-80 w-lg text-center mx-md-auto mb-5">
    <h2 class="h4 font-weight-semi-bold">Tan sólo unos clicks para ser parte de Neat</h2>
  </div>
  <!-- End Title -->
</div>  
<div id="paginationModernNav" class="js-slick-carousel u-slick mb-2"
     data-infinite="true"
     data-autoplay="true"
     data-speed="4000"
     data-fade="true"
     data-nav-for="#paginationModernThumb">
  <div class="js-slide float-center text-center">
    <img style="width: 90px; height: 150px;"  class="d-block w-100" src="../../assets/newRequirements/svg/039-sign-in.svg" alt="First slide">
    <h5>Registrate</h5>
  </div>
  <div class="js-slide float-center text-center">
    <img style="width: 90px; height: 150px;"  class="d-block w-100" src="../../assets/newRequirements/svg/042-paper-plane.svg" alt="First slide">
    <h5>Invita a tu contra parte</h5>
  </div>
  <div class="js-slide float-center text-center">
    <img style="width: 90px; height: 150px;"  class="d-block w-100" src="../../assets/newRequirements/svg/040-membership.svg" alt="First slide">
    <h5>Detalla la información de los pagos de tu arriendo</h5>
  </div>
  <div class="js-slide float-center text-center">
    <img style="width: 90px; height: 150px;"  class="d-block w-100" src="../../assets/newRequirements/svg/044-support.svg" alt="First slide">
    <h5>Espera a que tu contraparte verifique la información</h5>
  </div>
  <div class="js-slide float-center text-center">
    <img style="width: 90px; height: 150px;"  class="d-block w-100" src="../../assets/newRequirements/svg/046-verify.svg" alt="First slide">
    <h5>¡Vive la experiencia NEAT!</h5>
  </div>
</div>

<div id="paginationModernThumb" class="js-slick-carousel u-slick u-slick--pagination-modern u-slick--transform-off mx-auto"
     data-infinite="true"
     data-autoplay="true"
     data-speed="5000"
     data-center-mode="true"
     data-slides-show="3"
     data-is-thumbs="true"
     data-focus-on-select="true"
     data-nav-for="#paginationModernNav">
  <div class="js-slide">
    Paso 1
  </div>
  <div class="js-slide">
    Paso 2
  </div>
  <div class="js-slide">
    Paso 3
  </div>
  <div class="js-slide">
    Paso 4
  </div>
  <div class="js-slide">
    Paso 5
  </div>
</div>