<div id="featuresSection" class="container space-2 mt-9">
  <div class="tab-content" id="pills-tabContent">
    <div id="SVGheroSection" class="d-lg-flex position-relative z-index-2 mb-4">
      <div class="container mb-4 d-lg-flex align-items-lg-center flex-lg-wrap height-lg-100vh text-center">
        <div class="w-100 mx-auto mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 *ngIf="!userType.owner" class="display-4 font-size-md-down-5 font-weight-semi-bold">Pagar tu arriendo nunca ha sido más fácil</h2>
            <h2 *ngIf="userType.owner" class="display-4 font-size-md-down-5 font-weight-semi-bold">Recibir los pagos de tus arrendatarios nunca ha sido más fácil</h2>
          </div>
          <div class="small mb-4">
            <span *ngIf="!userType.owner" class="font-weight-medium">Simplificamos tus preocupaciones.</span>
            <span *ngIf="userType.owner" class="font-weight-medium">Te ayudamos a recibir los pagos a tiempo y a entender el estado de tu inversión.</span>          
          </div>
          <form class="js-validate w-md-75 w-lg-50 w-xl-40 mx-md-auto mb-4">
            <div class="js-form-message">
              <div class="input-group-append justify-content-center">
                <button id="button-suscribe-home" type="submit" href="#aftersometimeModal"
                data-modal-target="#aftersometimeModal"
                data-modal-effect="fadein" class="btn btn-primary btn-wide" (click)="showAlertSuccess = false;">Suscribirse</button>
              </div>
            </div>
          </form>
        </div>
    
        <div class="w-lg-50 mt-auto mx-lg-auto">
          <figure class="ie-enterprise-2" >
            <img class="js-svg-injector"  src="../../assets/svg/flat-icons/enterprise-2.svg" alt="Image Description"
                  data-parent="#SVGheroSection">
          </figure>
        </div>
      </div>
    
    </div>
  </div>
</div>
 



<!-- Modal -->
<div id="aftersometimeModal" class="js-modal-window u-modal-window" data-modal-type="aftersometime"
  data-open-effect="zoomIn"
  data-close-effect="zoomOut"
  data-breakpoint="1000"
  data-speed="500">
  <div class="card">
    <!-- Header -->
    <header class="card-header bg-light py-3 px-5">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="h6 mb-0">Estás a un click de ser parte de Neat</h3>

        <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </header>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body p-5">
      <form [formGroup]="ngForm" class="js-validate">
        <div class="form-group js-form-message">
          <label for="exampleFormControlInput1">Email</label>
          <input aria-label="Ingresa tu email" required
          data-msg="Por favor ingresa un email válido."
          data-error-class="u-has-error"
          data-success-class="u-has-success" formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          <!-- <span *ngIf="ngForm['controls'].email.errors.email">Correo no válido</span> -->
        
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo de usuario</label>
          <select formControlName="type" class="form-control" id="exampleFormControlSelect1">
            <option value="LESSEE">Arrendatario</option>
            <option value="OWNER">Propietario</option>
          </select>
        </div>
      </form>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <div class="card-footer d-flex justify-content-end">
      <button id="button_subscribe_modal" type="button" class="btn btn-sm btn-primary transition-3d-hover mr-1" [disabled]="!ngForm.valid" (click)="userSubscription();" onClick="Custombox.modal.close();">Suscribirse</button>
      <button id="button_close_modal" type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">Cerrar</button>
    </div>
    <!-- End Footer -->
  </div>
</div>
<!-- End Modal -->