 <!-- Hero Section -->
 <div id="SVGheroSection" class="svg-preloader d-lg-flex position-relative z-index-2">
  <div class="container d-lg-flex align-items-lg-center flex-lg-wrap height-lg-100vh text-center space-top-2 space-top-md-4 space-top-lg-3">
    <div class="w-100 mx-auto mb-9 mb-lg-0">
      <div class="mb-5">
        <h1 class="display-4 font-size-md-down-5 font-weight-semi-bold">Bienvenidos a una nueva forma de arrendar</h1>
        <!-- <p>Front is the leading online template helping <strong class="text-primary">1000+</strong> customers.</p> -->
      </div>

      <!-- Form -->
      <form class="js-validate w-md-75 w-lg-50 w-xl-40 mx-md-auto mb-4">
        <div class="js-form-message">
          <label class="sr-only" for="signupSrEmail">Tu email</label>
          <div class="input-group">
            <input type="email"
              [(ngModel)]="email"
              class="form-control"
              name="email"
              id="signupSrEmail"
              placeholder="Ingresa tu email"
              aria-label="Ingresa tu email" required
              data-msg="Please enter a valid email address."
              data-error-class="u-has-error"
              data-success-class="u-has-success">
            <div class="input-group-append">
              <button type="submit" (click)="userSubscription()" class="btn btn-primary btn-wide">Suscribirse</button>
            </div>
          </div>
        </div>
      </form>
      <!-- End Form -->

      <div class="small">
        <span class="font-weight-medium">Creemos en sistema transparente, seguro y eficiente</span>
        <!-- <a class="link-muted mx-2" href="index.html">Explore live demo</a> -->

        <!-- Fancybox -->
        <!-- <a class="js-fancybox link-muted" href="javascript:;"
           data-src="//vimeo.com/167434033"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Front - Responsive Website Template">
          <small class="fas fa-play text-primary mr-1"></small>
          Play video
        </a> -->
        <!-- End Fancybox -->
      </div>
    </div>

    <div class="w-lg-50 mt-auto mx-lg-auto">
      <figure class="ie-enterprise-2" >
          <!-- style="width: 70%; height: 70%; position: absolute; z-index: -1; right: 100px; bottom: 50px" -->
        <img class="js-svg-injector"  src="../../assets/svg/flat-icons/enterprise-2.svg" alt="Image Description"
             data-parent="#SVGheroSection">
      </figure>
    </div>
  </div>

  <!-- SVG Component -->
  <!-- <div class="d-none d-lg-block content-centered-y left-0 w-100 max-width-40 z-index-n1">
    <figure class="ie-abstract-shapes-1">
      <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-1.svg" alt="Image Description"
           data-parent="#SVGheroSection">
    </figure>
  </div> -->
  <!-- End SVG Component -->

  <!-- SVG Component -->
  <!-- <div class="d-none d-lg-block content-centered-y right-0 w-100 max-width-35 z-index-n1">
    <figure class="ie-abstract-shapes-10">
      <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-10.svg" alt="Image Description"
           data-parent="#SVGheroSection">
    </figure>
  </div> -->
  <!-- End SVG Component -->
</div>
<!-- End Hero Section -->