<div id="featuresSection">
  <div id="SVGGraphicIllustration1" class="svg-preloader d-lg-flex align-items-lg-center gradient-half-primary-v1 height-lg-100vh">
    <div class="d-none d-lg-block bg-img-hero position-absolute top-0 right-0 left-0 height-lg-100vh" style="background-image: url(../../assets/img/bg-shapes/bg1.png);"></div>
    <div class="container space-top-2 space-bottom-2 ">
      <div class="row align-items-md-center">

        <div *ngIf="widthPage < 700" class="position-relative bg-white text-center mx-lg-auto ml-4 mb-4" style="border-radius: 0.25rem;">
            <button id="button-owner" class="btn btn-white btn-wide text-primary " [ngClass]="{'active': userType.owner}" (click)="userType.owner = true">Propietario</button>
            <button id="button-lessee" class="btn btn-white btn-wide text-primary" [ngClass]="{'active': !userType.owner}" (click)="userType.owner = false">Arrendatario</button>
        </div>
        <div class="col-lg-6">
          <!-- Title -->
          <div class="mb-7">
            <h1 class="text-white dinamic-title">
              <span class="text-warning">
                <span *ngIf="!userType.owner" class="mr-2" typingAnimation [typeSpeed]="50" [condition]="!userType.owner" [startDelay]="1000" [hideCursorOnComplete]="true">Pagar tu arriendo </span>
                <span *ngIf="userType.owner" class="mr-2" typingAnimation [typeSpeed]="50" [condition]="userType.owner" [startDelay]="1000" [hideCursorOnComplete]="true">Recibir los pagos de tus arrendatarios</span>
                <span class="text-white-70">nunca ha sido tan fácil.</span>
                <!-- <span *ngIf="userType.owner" class="u-text-animation u-text-animation--typing owner"></span> -->
              </span>
            </h1>
            <!-- <span *ngIf="!userType.owner" class="font-weight-medium">Simplificamos tus preocupaciones.</span>
            <span *ngIf="userType.owner" class="font-weight-medium">Te ayudamos a recibir los pagos a tiempo y a entender el estado de tu inversión.</span> -->
            <p class="lead text-white-70 subtitle" *ngIf="!userType.owner">Simplificamos tus preocupaciones.</p>
            <p class="lead text-white-70 subtitle" *ngIf="userType.owner">Te ayudamos a recibir los pagos a tiempo y a entender el estado de tu inversión.</p>

          </div>
          <!-- End Title -->

          <button id="button-suscribe-home" href="#aftersometimeModal"
          data-modal-target="#aftersometimeModal"
          data-modal-effect="fadein" class="btn btn-white btn-wide text-primary transition-3d-hover ml-xs-4 text-center mx-lg-auto ml-11 position-relative" (click)="showAlertSuccess = false;">Suscribirse</button>
        
        </div>

        <div class="col-lg-6 d-none d-lg-inline-block">
          <figure class="ie-graphic-illustration-1">
            <img class="js-svg-injector" src="../../assets/svg/illustrations/image-upload.svg" alt="Image Description"
                  
                  data-parent="#SVGGraphicIllustration1">
          </figure>
        </div>
      </div>
    </div>
</div>
 

<div id="aftersometimeModal" class="js-modal-window u-modal-window" data-modal-type="aftersometime"
  data-open-effect="zoomIn"
  data-close-effect="zoomOut"
  data-breakpoint="1000"
  data-speed="500">
      <div id="SVGsubscribe" class="svg-preloader gradient-half-primary-v1">
        <div class="container space-2">
          <div class="row justify-content-lg-end align-items-lg-center">
            <div class="col-lg-7 mb-7 mb-lg-0">
              <!-- SVG Icon -->
              <figure class="ie-subscribe-illustration">
                <img class="js-svg-injector" src="../../assets/svg/illustrations/subscribe.svg" alt="Image Description"
                    data-parent="#SVGsubscribe">
              </figure>
              <!-- End SVG Icon -->
            </div>

            <div class="col-lg-5">
              <div class="pl-lg-4">
                <!-- Title -->
                <div class="mb-5">
                  <h2 class="text-white">
                    <strong class="font-weight-semi-bold">Estás a un click de ser parte de Neat</strong>
                  </h2>
                  <p class="text-white-70">
                      Suscríbase ahora y reciba ofertas especiales junto con actualizaciones de interés periodístico sobre los últimos desarrollos de Neat.</p>
                </div>
                <!-- End Title -->

                <!-- Subscribe Form -->
                <form [formGroup]="ngForm" class="js-validate js-form-message">
                  <label class="sr-only" for="heroSubscribeSrEmail">Ingresa tu email</label>
                  <div class="input-group input-group-lg input-group-borderless input-group-pill">
                    <input type="email" class="form-control" name="email" id="heroSubscribeSrEmail" placeholder="Your email address" aria-label="Your email address" aria-describedby="heroSubscribeButton" required>
                    <div class="input-group-append">
                      <button class="btn btn-white text-primary" type="submit" id="button_subscribe_modal" onClick="Custombox.modal.close();" (click)="userSubscription();">
                        <span class="fas fa-paper-plane"></span>
                      </button>
                    </div>
                  </div>
                </form>
                <!-- End Subscribe Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End Modal -->

