/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.arrow-blue {
    color: #377dff !important;  
    background-color: lightgray; 
}

.arrow-blue:hover {
    color: #fff !important;  
}