/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.arrow-blue {
    color: #377dff !important;  
    background-color: lightgray; 
}

.arrow-blue:hover {
    color: #fff !important;  
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 344px) {  
    .h6 {font-size: 0.8rem;}
    .dinamic-title {font-size: 1.2rem;}
    .subtitle {font-size: 0.95rem;}
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {  
    .h6 {font-size: 0.8rem;}
    .dinamic-title {font-size: 2.8rem;}
    .subtitle {font-size: 1.25rem;}
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
    .h6 {font-size: 1rem;}
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  
    .h6 {font-size: 1rem;}
    }
}


.typewriter span {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}